h1 {
    color: #606060;
}

h2 {
    color: #606060;
}

h3 {
    color: #606060;
}

body {
    background-color: #F8F8F8
}

.form-control {
    width: 60%
}

.thumbnail  img {
    width: 100px;
    height: 200px;
}